<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Manage Seats</title>

    <link rel="stylesheet"
          th:href="@{/css/home.css}">
</head>

<body>

<div class="page-container">

    <h1>Manage Seats</h1>

    <table border="1"
           width="100%"
           cellpadding="10">

        <tr>
            <th>ID</th>
            <th>Location ID</th>
            <th>Row</th>
            <th>Seat Number</th>
            <th>Status</th>
            <th>Action</th>
        </tr>

        <tr th:each="seat : ${seats}">

            <form action="/admin/seats/update"
                  method="post">

                <td
                    th:text="${seat.id}">
                </td>

                <td
                    th:text="${seat.locationId}">
                </td>

                <td
                    th:text="${seat.rowLabel}">
                </td>

                <td
                    th:text="${seat.seatNumber}">
                </td>

                <td>

                    <input
                        type="hidden"
                        name="id"
                        th:value="${seat.id}">

                    <select name="status">

                        <option
                            th:each="status : ${statuses}"
                            th:value="${status}"
                            th:text="${status}"
                            th:selected="${status == seat.status}">
                        </option>

                    </select>

                </td>

                <td>

                    <button type="submit">
                        Update
                    </button>

                </td>

            </form>

        </tr>

    </table>

    <br>

    <a href="/admin">
        ← Back Dashboard
    </a>

</div>

</body>
</html>