@import url("login.css");

.register-page .login-form {
    padding-top: 116px;
}

.register-page .login-home-link {
    margin-bottom: 44px;
}

.register-page .login-form h1 {
    margin-bottom: 34px;
    font-size: clamp(76px, 7vw, 108px);
}

.register-page .login-form input {
    height: 48px;
    margin-bottom: 13px;
    font-size: 27px;
}

.register-page .login-register {
    margin-top: 26px;
    font-size: 30px;
}

.register-page .login-form button {
    top: 812px;
}

@media (max-width: 760px) {
    .register-page .login-form {
        padding-top: 78px;
    }

    .register-page .login-form h1 {
        margin-bottom: 22px;
        font-size: 60px;
    }

    .register-page .login-form input {
        height: 39px;
        margin-bottom: 9px;
        font-size: 22px;
    }

    .register-page .login-register {
        margin-top: 18px;
        font-size: 22px;
    }

    .register-page .login-form button {
        top: 594px;
    }
}

@media (max-width: 430px) {
    .register-page .login-form {
        padding-top: 58px;
    }

    .register-page .login-home-link {
        margin-bottom: 24px;
    }

    .register-page .login-form h1 {
        margin-bottom: 17px;
        font-size: 42px;
    }

    .register-page .login-form input {
        height: 32px;
        margin-bottom: 7px;
        font-size: 18px;
    }

    .register-page .login-register {
        margin-top: 13px;
        font-size: 16px;
    }

    .register-page .login-form button {
        top: 430px;
    }
}
