<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" href="/css/login.css">
</head>
<body>

    <p id="error-message" style="color: red; text-align: center; display: none; font-weight: bold; margin-top: 20px;"></p>

    <div class="auth-container">
        <div class="auth-box">
            <h2>Login</h2>
            <p>Welcome back! Please login to book your tickets.</p>
            
            <form id="loginForm">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="Your email" required>
                </div>
                
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="Your password" required>
                </div>
                
                <button type="submit" class="btn-submit">Login</button>
            </form>


            <p style="margin-top: 25px; font-size: 0.95rem; color: #666;">
                Don't have account yet? 
                <a href="/register" style="color: #e94560; font-weight: bold;">Register now</a>
            </p>
        </div>
    </div>
    
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const errorType = urlParams.get('error');
        const errorMsgElement = document.getElementById('error-message');

        if (errorType === 'login_required') {
            errorMsgElement.innerText = "You need to login to your account.";
            errorMsgElement.style.display = "block"; // Make the message visible
        } 
        else if (errorType === 'invalid') {
            errorMsgElement.innerText = "Invalid email or password. Please try again.";
            errorMsgElement.style.display = "block";
        }
    </script>
</body>
</html>